.lighter {
	font-weight: lighter
}
.bolder {
	font-weight: bolder
}
.inline {
	display: inline-block!important
}
.block {
	display: block!important
}
.center,
.align-center {
	text-align: center!important
}
.align-left {
	text-align: left!important
}
.align-right {
	text-align: right!important
}
.middle {
	vertical-align: middle
}
.align-middle {
	vertical-align: middle!important
}
.align-top {
	vertical-align: top!important
}
.align-bottom {
	vertical-align: bottom!important
}
.position-relative {
	position: relative
}
.position-absolute {
	position: absolute
}
.line-height-normal {
	line-height: normal!important
}
.line-height-1 {
	line-height: 1!important
}
.dark {
	/*浅黑*/
	color: #333!important
}
.white {
	/*白*/
	color: #fff!important
}
.red {
	/*红*/
	color: #dd5a43!important
}
.light-red {
	/*浅红*/
	color: #f77!important;
}
.blue {
	/*蓝*/
	color: #478fca!important
}
.light-blue {
	/*浅蓝*/
	color: #93cbf9!important
}
.green {
	/*绿*/
	color: #69aa46!important;
}
.light-green {
	color: #b0d877!important
}
.orange {
	/*橙*/
	color: #ff892a!important;
	
}
.light-orange {
	color: #fcac6f!important
}
.orange2 {
	/*橘*/
	color: #feb902!important;
}
.purple {
	/*紫*/
	color: #a069c3!important
}
.pink {
	/*粉*/
	color: #c6699f!important
}
.pink2 {
	color: #d6487e!important
}
.brown {
	/*褐色*/
	color: #a52a2a!important
}
.grey {
	/*灰色*/
	color: #777!important
}
.light-grey {
	color: #bbb!important
}
.bigger-110 {
	font-size: 110%
}
.bigger-120 {
	font-size: 120%
}
.bigger-130 {
	font-size: 130%
}
.bigger-140 {
	font-size: 140%
}
.bigger-150 {
	font-size: 150%
}
.bigger-160 {
	font-size: 160%
}
.bigger-170 {
	font-size: 170%
}
.bigger-180 {
	font-size: 180%
}
.bigger-190 {
	font-size: 190%
}
.bigger-200 {
	font-size: 200%
}
.bigger-210 {
	font-size: 210%
}
.bigger-220 {
	font-size: 220%
}
.bigger-230 {
	font-size: 230%
}
.bigger-240 {
	font-size: 240%
}
.bigger-250 {
	font-size: 250%
}
.bigger-260 {
	font-size: 260%
}
.bigger-270 {
	font-size: 270%
}
.bigger-280 {
	font-size: 280%
}
.bigger-290 {
	font-size: 290%
}
.bigger-300 {
	font-size: 300%
}
.bigger-125 {
	font-size: 125%
}
.bigger-175 {
	font-size: 175%
}
.bigger-225 {
	font-size: 225%
}
.bigger-275 {
	font-size: 275%
}
.smaller-90 {
	font-size: 90%
}
.smaller-80 {
	font-size: 80%
}
.smaller-70 {
	font-size: 70%
}
.smaller-60 {
	font-size: 60%
}
.smaller-50 {
	font-size: 50%
}
.smaller-40 {
	font-size: 40%
}
.smaller-30 {
	font-size: 30%
}
.smaller-20 {
	font-size: 20%
}
.smaller-75 {
	font-size: 75%
}
.width-20 {
	width: 20%!important
}
.width-25 {
	width: 25%!important
}
.width-30 {
	width: 30%!important
}
.width-35 {
	width: 35%!important
}
.width-40 {
	width: 40%!important
}
.width-45 {
	width: 45%!important
}
.width-50 {
	width: 50%!important
}
.width-55 {
	width: 55%!important
}
.width-60 {
	width: 60%!important
}
.width-65 {
	width: 65%!important
}
.width-70 {
	width: 70%!important
}
.width-75 {
	width: 75%!important
}
.width-80 {
	width: 80%!important
}
.width-85 {
	width: 85%!important
}
.width-90 {
	width: 90%!important
}
.width-95 {
	width: 95%!important
}
.width-100 {
	width: 100%!important
}
.width-48 {
	width: 48%!important
}
.width-auto {
	width: auto!important
}
.height-auto {
	height: auto!important
}
.no-padding {
	padding: 0!important
}
.no-padding-bottom {
	padding-bottom: 0!important
}
.no-padding-top {
	padding-top: 0!important
}
.no-padding-left {
	padding-left: 0!important
}
.no-padding-right {
	padding-right: 0!important
}
.no-margin {
	margin: 0!important
}
.no-margin-bottom {
	margin-bottom: 0!important
}
.no-margin-top {
	margin-top: 0!important
}
.no-margin-left {
	margin-left: 0!important
}
.no-margin-right {
	margin-right: 0!important
}
.no-border {
	border: 0
}
.no-border-bottom {
	border-bottom: 0
}
.no-border-top {
	border-top: 0
}
.no-border-left {
	border-left: none
}
.no-border-right {
	border-right: 0
}
.no-underline {
	text-decoration: none!important
}
.no-hover-underline:hover {
	text-decoration: none!important
}
.no-shadow,
.no-box-shadow {
	-webkit-box-shadow: none!important;
	box-shadow: none!important
}
.no-text-shadow {
	text-shadow: none!important
}
.overflow-hidden {
	overflow: hidden!important
}
.overflow-auto {
	overflow: auto!important
}
.overflow-scroll {
	overflow: scroll!important
}
.overflow-visible {
	overflow: visible!important
}