/* 名字文字特效   */
.text--transparent{fill: transparent;}
.anim-shape{-webkit-transform-origin: 0x 150px;transform-origin: 0x 150px;-webkit-transform: scale(0, 1) translate(0, 0);transform: scale(0, 1) translate(0, 0);-webkit-animation: moving-panel 3s infinite alternate;animation: moving-panel 3s infinite alternate;}
.colortext .anim-shape:nth-child(1){fill: #fff;}
.colortext .anim-shape:nth-child(2){fill: #CCFFFF;}
.colortext .anim-shape:nth-child(3){fill: #9999FF;}
.colortext .anim-shape:nth-child(4){fill: #6699FF;}
.colortext .anim-shape:nth-child(5){fill: #333366;}
.shadow{-webkit-transform: translate(10px, 10px);transform: translate(10px, 10px);}
.anim-shape--shadow{fill: #000;fill-opacity: 0.2;}
@-webkit-keyframes moving-panel{100%{-webkit-transform: scale(1, 1) translate(20px, 0);transform: scale(1, 1) translate(20px, 0);}}
@keyframes moving-panel{100%{-webkit-transform: scale(1, 1) translate(20px, 0);transform: scale(1, 1) translate(20px, 0);}}
.svg-content{font: 800 100px "microsoft yahei", Impact;}
svg{width: 80%;margin: 0 auto;display: block;}
/* 名字文字特效 end   */
