@charset "utf-8";
/* class前缀为 user 的是自定义，不影响框架*/
.user-panel{position: relative;}
.user-head{position: absolute;text-align: center;width: 100%;top: 3rem;}
.user-head img{width: 100px;border-radius: 50%;}
.user-name{text-align: center;}

.user-tab .user-bar-tab{height: auto;bottom: auto;background-color: #414A51;}
.user-tab .user-bar-tab::before{background-color: #414A51;}
.user-tab .user-bar-tab .user-tab-item {height: auto;}






