@charset "utf-8";
.panel-head{position: relative;}
.panel-username{text-align: center;padding-top: 3rem;padding-bottom: 1rem;}
.panel-userhead{position: absolute;text-align: center;width: 100%;top: 5rem;}
.panel-userhead img{width: 50%;border-radius: 50%;}
.panel-bar-tab{bottom: auto;}


.panel-box{line-height: 2;background: #5D6975;}








