@charset "UTF-8";
* {
	font-family: "Microsoft YaHei";
	margin: 0;
	padding: 0;
}
body {
	background: #000000;
	font-size: 16px;
	height: 100%;
	/*overflow: hidden;*/
	overflow-y: hidden;
	overflow-x: auto;
	min-width: 1200px;
	width: 100%;
}
.jtopo_toolbar {
	position: absolute;
	-moz-user-select: none;
	/*left: 72%;*/
    color: #fff;
    height: 40px;
    width: auto;
}
.jtopo_toolbar .modeRadio{
	height: 30px;width: 30px;background-size: 100% 100%;display: inline-block;cursor: pointer;
	margin: 5px;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
.jtopo_toolbar .modeRadio:hover{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}
#r0{
	background: url(../image/nav_ui/quxiao.png);
	background-size: 100% 100%;
}
#r1{
	background: url(../image/nav_ui/kuangxuan.png);
	background-size: 100% 100%;
}
#r2{
	background: url(../image/nav_ui/bianji.png);
	background-size: 100% 100%;
}
#r3{
	background: url(../image/nav_ui/suofang.png);
	background-size: 100% 100%;
}
#r4{
	background: url(../image/nav_ui/juzhongduiqi.png);
	background-size: 100% 100%;
}

#r5{
	display: inline-block;width: 250px;height: 36px;background: #e6e6e6;border: 1px solid #dbdcee;border-radius: 10px;
}
#r5 #queryTopoNode{
	margin-top: 3px;
	width: 200px;height: 30px;display: block;float: left;background: #e6e6e6;border: 0;border-radius: 10px;padding-left: 10px;
}
#r5 #queryImg{
	width: 30px;height:30px;float: right;display: inline-block;margin: 3px;
	background: url(../image/nav_ui/chaxun.png);background-size: 100% 100%;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
#r5 #queryImg:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
#centerButton{
	/*background: url(../image/nav_ui/juzhongduiqi.png);*/
	/*background-size: 100% 100%;*/
	width: 100px;height: 30px;
	/*border: 0;*/
}
#showModel{
	height: 30px;width: 30px;background-size: 100% 100%;display: inline-block;cursor: pointer;
	margin: 5px;background-image: url(../image/nav_ui/sanweimoxing.png);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
#showModel:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
#showFunc{
	height: 30px;width: 30px;background-size: 100% 100%;display: inline-block;cursor: pointer;
	margin: 5px;background-image: url(../image/nav_ui/guanzhugengduocaozuo.png);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;	
}
#showFunc:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

#contextmenu {
    background: none repeat scroll 0 0 #eee;
    border: 2px inset #fff;
    display: none;
    max-height: 350px;
    min-width: 120px;
    overflow-y: auto;
    position: absolute;
    z-index: 6;
}
#contextmenu li a {
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    display: block;
    padding: 10px;
}
#contextmenu li a:hover {
    background: none repeat scroll 0 0 #fff;
}
