.topo-main {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-width: 1000px;
}
.layui-layer-topo .layui-layer-title {
  color: #fff;
  background-color: #0e90d2;
  border-color: #10a0ea;
}
.layui-layer-topo .layui-layer-setwin .layui-layer-close1 {
  background-position: -187px -38px;
}
.layui-layer-topo .layui-layer-hole .layui-layer-content {
  border: 1px solid #fff;
}
.layui-layer-dialog.layui-layer-search-error .layui-layer-content {
  text-align: center;
  padding: 5px;
  opacity: 0.8;
}
.layui-layer-dialog.layui-layer-ajax-error .layui-layer-btn0 {
  font-size: 1.3rem;
}
.jtopo-search {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 450px;
  padding-left: 200px;
  padding-bottom: 30px;
  height: 70px;
  overflow: hidden;
}
.jtopo-search .open-search {
  position: absolute;
  top: 0;
  right: 20px;
  width: 30px;
  cursor: pointer;
  text-align: center;
}
.jtopo-search .open-search > i {
  color: #ffffff;
  font-size: 25px;
}
.jtopo-search input.search-input {
  width: 250px;
  height: 40px;
  padding: 5px 20px;
  border: 1px solid #2c2c2c;
  margin-left: 260px;
  background-color: #131418;
  outline: none;
  color: #B7B7B7;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 34px;
}
.jtopo-search input.search-input.active {
  margin-left: 0;
}
.jtopo-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  height: 40px;
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.jtopo-toolbar > .mode-radio {
  height: 30px;
  width: 30px;
  display: inline-block;
  cursor: pointer;
  background-size: 100% 100%;
  margin: 10px 5px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.jtopo-toolbar > .mode-radio:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.jtopo-toolbar > .mode-radio.toolbar-normal {
  margin-left: 10px;
  background-image: url("../images/nav_ui/quxiao.png");
}
.jtopo-toolbar > .mode-radio.toolbar-select {
  background-image: url("../images/nav_ui/kuangxuan.png");
}
.jtopo-toolbar > .mode-radio.toolbar-edit {
  background-image: url("../images/nav_ui/bianji.png");
}
.jtopo-toolbar > .mode-radio.toolbar-zoom {
  background-image: url("../images/nav_ui/suofang.png");
}
.jtopo-toolbar > .mode-radio.toolbar-centent {
  background-image: url("../images/nav_ui/juzhongduiqi.png");
}
.jtopo-toolbar > .mode-radio.toolbar-show-model {
  background-image: url("../images/nav_ui/sanweimoxing.png");
}
.jtopo-toolbar > .mode-radio.toolbar-show-link {
  background-image: url("../images/nav_ui/guanzhugengduocaozuo.png");
}
.jtopo-toolbar > .mode-radio.toolbar-refresh {
  background-image: url("../images/nav_ui/shuaxin.png");
}
.jtopo-toolbar > .mode-radio.toolbar-full {
  background-image: url("../images/nav_ui/quanping.png");
}
.topo-style-config {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#model-dialog {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  position: absolute;
  top: 100px;
  left: 10px;
  height: 550px;
  width: 260px;
  z-index: 1001;
  overflow: hidden;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
#model-dialog .am-panel-hd {
  cursor: move;
}
#model-dialog .am-panel-bd {
  padding-right: 0;
}
#model-dialog a.am-close {
  color: #FFFFFF;
  opacity: 1;
  position: absolute;
  right: 20px;
}
#model-dialog .t-model-box {
  overflow-y: auto;
  max-height: 480px;
}
#model-dialog .t-model-box > .t-model-icon {
  width: 45px;
  height: 45px;
  margin: 0 5px 15px;
  cursor: move;
}
.t-model-icon-clone {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
}
#link-dialog {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  position: absolute;
  top: 100px;
  right: 10px;
  height: 550px;
  width: 260px;
  z-index: 1001;
  overflow: hidden;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
#link-dialog .am-panel-hd {
  cursor: move;
}
#link-dialog a.am-close {
  color: #FFFFFF;
  opacity: 1;
  position: absolute;
  right: 20px;
}
#link-dialog .t-link-box {
  margin-bottom: -15px;
}
#link-dialog .t-link-box img.t-link-icon {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0 8px 15px;
}
#link-dialog .t-link-box img.t-link-icon:hover {
  border: 1px solid #c3c2c2;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#link-dialog .t-link-box img.t-link-icon.active {
  border: 1px solid #c3c2c2;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
div {
  font-size: 1.77rem;
}
.topo-main .topo-right {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1003;
  display: none;
}
.topo-main .topo-right > ul {
  border: 2px solid #c7c7c7;
  width: 120px;
  max-height: 350px;
  overflow-y: auto;
  text-align: center;
  cursor: pointer;
}
.topo-main .topo-right > ul > li {
  background: none repeat scroll 0 0 #eee;
}
.topo-main .topo-right > ul > li:hover {
  background-color: #FFFFFF;
}
#topo-style-config .am-form-label {
  padding-top: 3px;
}
