*{font-family: "Microsoft YaHei"}
html,
body{height: 100%;margin: 0 auto;background-color: #fff;}
img{box-sizing: border-box;vertical-align: middle;border: 0;}
.warp{min-width: 1000px;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.clearfloat:after,
.clearfloat:before{content: " ";display: table}
.clearfloat:after{clear: both}
.top{position: relative;margin: auto;}
.top_bg{width: 100%;}
.top_position{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;z-index: 1;text-align: center;height: 275px;line-height: 275px;width: 500px;}
.top_logo{width: 100%;height: 100%;}
.top_logo_txt{position: absolute;top: 0px;left: 0px;width: 100%;text-align: center;color: #fff;font-size: 4rem;font-family: "PMingLiU";}
.column_title{width: 100%;text-align: center;margin: 40px auto 70px auto;}
.c_t_title{font-size: 25px;margin-bottom: 15px;}
.c_t_txt{font-size: 16px;margin-top: 5px;color: #C0C0C0;}
.cplumn_one{position: relative;width: 1000px;margin: auto;}
.cplumn_one_left{float: left;width: 50%;position: relative;}
.cplumn_one_right{float: left;width: 50%;position: relative;}
.cplumn_one_left .banner_info{margin: 0 30px 0 50px;}
.cplumn_one_right .banner_info{margin: 0 50px 0 30px;}
.banner_info h1{margin: 0;padding: 0;}
.banner_info p{font-size: 18px;color: #bbbbbb;}
.banner_info .banner_txt{padding-left: 10px;border-left: 20px solid #000;}
.banner_info span{line-height: 28px;color: #c3dfe3;font-size: 16px;}
.cplumn_two{background: url(../img/6.png) center center no-repeat;background-size: cover;height: 500px;text-align: center;padding: 138px 0;-ms-behavior: url(backgroundsize.min.htc);behavior: url(backgroundsize.min.htc);}
.cplumn_three{position: relative;margin: auto;width: 1000px;height: 883px;/*margin-top: 144px;*/}
.c_t_left{position: absolute;top: 0;left: -145px;}
.c_t_centen{position: absolute;top: 152px;left: 190px;height: 658px;z-index: -1;}
.c_t_centen img{height: 100%;}
.c_t_right{position: absolute;top: 349px;right: 0px;}
.cplumn_four{background-color: #f0f0f0;height: 1018px;}
.c_f_box{position: relative;margin: auto;width: 1000px;z-index: 1;}
.c_f_box > .column_title{margin: auto;padding-bottom: 210px;padding-top: 130px;}
.c_f_lbox{background-color: #fff;width: 450px;height: 265px;padding: 30px 130px 30px 50px;}
.c_f_rimg{position: absolute;top: 422px;right: 0;z-index: -1;}
.c_f_lbox p{color: #222222;font-size: 14px;line-height: 24px;}
.c_f_lbox span{color: #bfbfbf;font-size: 18px;line-height: 30px;}
.c_f_lbox button{display: block;margin-top: 10px;background-color: #fff;border: 1px solid #bfbfbf;color: #bfbfbf;font-size: 20px;padding: 5px;}
.footer{position: relative;background-color: #000000;text-align: center;margin: auto;padding: 100px 0;}
.footer p{color: #fff;font-size: 18px;}
.footer p a{text-decoration: none;background-color: transparent;color: #fff;font-size: 18px;}














