/* Write your styles */
/*iconfont.cn阿里巴巴矢量图库*/

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1449127103_1126015.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1449127103_1126015.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1449127103_1126015.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1449127103_1126015.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1449127103_1126015.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
.iconfont {
	font-family: "iconfont" !important;
	font-size: 1rem;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.iconfont.lg{
	font-size: 2.5rem;
}

.icon-jilu:before{
	content: "\e60c";
}
.icon-wenti:before{
	content: "\e60b";
}
.icon-soso:before{
	content: "\e60a";
}
.icon-shouchang:before{
	content: "\e609";
}
.icon-mmkj:before{
	content: "\e608";
}
.icon-youhui:before{
	content: "\e605";
}
.icon-zhifubao:before{
	content: "\e607";
}
.icon-chuxiao:before{
	content: "\e606";
}
.icon-user:before{
	content: "\e604";
}
.icon-kefu:before{
	content: "\e603";
}
.icon-play:before{
	content: "\e602";
}
.icon-tupian:before{
	content: "\e601";
}
.icon-paishe:before{
	content: "\e600";
}

/*************************iconfont  end**********************************/

body {
	background: #eeeeee;
	font-size: 1.6rem !important;
}
/* 头部 */
.am-header-default {
	background-color: #0e90d2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1010;
}
.am-header-default h3{
	color: #fff;
}
.header-title {
	text-align: center;
}

/* 首页菜单 */
#index_tab ul li{
	text-align: center;
	margin: 10px;
}
#index_tab .am-navbar-label{
	font-size: 1rem;
}

/* 活动展示 */
a.activity{
	position: relative;
}
a.activity img{
	width: 100%;
}
a.activity .activity-info{
	background: ;
	position: absolute;
	color: #FFFF00;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	right: 1rem;
	top: 1rem;
}

/* 底部导航 */
.am-navbar{
	background-color: #333;
}

/*
.am-form-field-search {
	display: inline;
	width: 65%;
	padding: 0.4em;
	font-size: 1.6rem;
	line-height: 1.2;
	color: #555;
	vertical-align: middle;
	background: #FFF;
	border: 1px solid #CCC;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	padding-left: 10%
}
.am-search-icon {
	position: absolute;
	float: left;
	left: 22%;
	color: #808080;
}
.am-form-field-search.am-round {
	border-radius: 5px;
	background: white
}
.am-search-icon:before {
	content: "\f002";
}
.am-header-right a {
	color: #FFFFFF !important;
	font-size: 1.4rem !important;
}
.am-menu-dropdown1 .am-menu-nav > li > a {
	border-bottom: 1px solid #363636;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
	background-color: #4C4D92;
	color: #ffffff;
	height: 40px;
	line-height: 40px;
	padding: 0;
	text-indent: 10px;
}
.am-menu-dropdown1 .am-menu-nav > li.am-parent.am-open > a {
	background-color: #4C4D92;
	border-bottom: none;
	color: #ffffff;
}
.am-title-login:before {
	content: "\f007";
	font-size: 1.9rem !important;
}
.am-title-logo {
	max-height: 50px;
}
.am-title-logo img {
	height: 30px !important;
}
.am-titlebar-multi {
	border-top: 3px solid #F37B1D;
}
.am-titlebar-multi .am-titlebar-title {
	color: #343434;
}
.am-titlebar {
	margin-top: 10px;
}
.am-navbar {
	background-color: #fff;
}
.am-navbar-default .am-navbar-nav {
	
	background-color: #fff;
}
.am-navbar-default a {
	color: #807d7d;
}
.am-g-fixed {
	text-align: center;
	margin-top: 10px;
	font-size: 12px
}
.am-panel-bd {
	padding: .5rem;
}
.am-panel-title:before {
	content: "\f12a";
	color: #DD514C;
	margin-right: 5px
}
.am-list-news {
	background: #EEEEEE;
}
.am-list-news-hd {
	padding-top: 0;
}
.am-list-news-default .am-list-item-thumb-left .am-list-thumb,
.am-list-news-default .am-list-item-thumb-right .am-list-thumb {
	max-height: 80px;
	max-width: 80px;
	margin-left: 5px
}
.am-list-font {
	font-size: 14px
}
.am-list-item-text {
	font-size: 12px;
}
.am-list-star:before {
	content: "\f005";
	color: red;
}
.am-list-phone {
	position: absolute;
	float: right;
	right: 5px;
	top: 25%;
}
.am-icon-btn-phone {
	box-sizing: border-box;
	display: inline-block;
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	border-radius: 50%;
	background-color: #EEE;
	text-align: center;
	background-color: #5EB95E;
	color: white
}
.am-popup.am-modal-active,
.am-popup.am-modal-out {
	-webkit-transition-duration: 0;
	transition-duration: 0;
}
.am-popup-hd .am-close {
	left: 10px;
}
.am-popup.am-modal-out {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.am-popup {
	height: 120%;
}
.doc-am-g > [class*="am-u-"] {
	border: 1px solid #DD514C;
	padding-top: 5px;
	padding-bottom: 5px;
}
.am-my-back {
	background: #fffcce;
}
.am-my-back img {
	width: 60px;
}
.am-my-back-jifen {
	text-align: left;
	font-size: 1.4em;
	margin-top: 13px;
}
.am-my-back-jifen a {
	color: gray;
}
.am-list-search {
	width: 100%;
}
.am-list-right-border {
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}
.am-list-font {
	font-size: 1.4rem;
}
.am-list-item-thumbed .am-u-sm-9 {
	width: 73% !important;
}
.am-sj-title-text {
	margin-top: -40px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-weight: bold;
	position: relative;
}
.am-sj-title-img {
	margin-bottom: 10px;
}
.am-sj-title-address {
	color: gray;
	font-size: 14px;
	list-style: none;
}
.am-tab-other {
	background: #FFF;
}
.am-tabs-d2 .am-tabs-nav > .am-active {
	position: relative;
	background-color: #f4f2f2;
	border-bottom: 2px solid #F37B1D;
}
.am-tabs-d2 .am-tabs-nav > .am-active a {
	color: black;
}
.am-tabs-d2 .am-tabs-nav > .am-active:after {
	border-bottom-color: #F37B1D;
}
.am-detail-price-new {
	color: #F37B1D;
	font-size: 20px;
}
.am-detail-price-old {
	color: #969696;
	font-size: 16px;
	text-decoration: line-through;
}
a.am-detail-a:link,
a.am-detail-a:hover,
a.am-detail-a:visited {
	color: #1c1c1c;
}
.am-detail-pinglun {
	margin: 10px;
}
.am-detail-pinglun-text {
	font-size: 14px;
	padding: 5px
}
.am-detail-pinglun-jianxi {
	margin-bottom: 5px;
}
.am-star-lg {
	font-size: 3.0rem;
}
.am-star-color {
	color: #FFBE40;
}
.am-order-form {
	height: 30px;
	padding: 0 10px;
}
.am-list-a > li > a {
	padding: 0rem;
	color: #333;
	display: inline;
}
.am-gongju-click {
	color: #F37B1D;
}
.am-tese-font {
	font-weight: bold;
	font-size: 18px;
}
.am-wzreslut-table {
	font-size: 12px
}
.am-accordion-gapped .am-accordion-item {
	background: #e4e4e4
}
.am-menu-toggle {
	display: none !important;
}
.am-menu-dropdown1 .am-menu-toggle {
	position: fixed;
	right: 0px;
	top: 5px;
	display: block;
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #FFF;
}
.am-menu-dropdown1 .am-menu-nav {
	position: fixed !important;
	left: 0px;
	right: 0px;
	z-index: 1050;
	top: 46px;
}
.am-sticky {
	top: 48px;
}
.am-footer {
	margin-top: 20px;
	padding-top: .1rem !important;
	padding-bottom: .5rem !important;
	width: 100%;
}
.am-with-fixed-navbar {
	min-height: 640px;
}
.am-record-item {
	min-height: 50px;
	padding-top: 0.6rem !important;
}
.am-record-price {
	position: absolute;
	top: 10px;
	right: 20px;
	color: #FF0000;
	font-weight: bold;
}
.am-text-record {
	font-size: 0.9rem !important;
	color: #999999;
}
.showcarmenu .am-menu,
.showcarmenu .am-menu-bar,
.showcarmenu .am-offcanvas-bar {
	background-color: #fff;
}
.showcarmenu .am-menu-nav > li > a {
	color: #000000;
	text-shadow: none;
}
#meu2 #showbrandlist1 li:first-child {
	text-align: center !important;
	color: #0e90d2 !important;
	font-size: 1.6rem;
}
#meu2 #showbrandlist1 li:first-child a {
	color: #0e90d2 !important;
}
#meu2 #showbrandlist1 li:first-child ::before {
	content: "\f060";
	position: absolute;
	left: .5rem;
	top: 1.3rem;
}
#serial_back a:hover {
	background: none !important;
}
.car-brand {
	text-align: center;
	font-size: 1.6rem;
}
.car-brand ::before {
	content: "\f060";
	position: absolute;
	left: 1.8rem;
	top: 1.3rem;
	font-size: 1.6rem;
	line-height: 16px !important;
}
.am-detail-pinglun-text ::after {
	clear: both;
}
.am-detail-pinglun-text small {
	width: 100%;
	font-size: 1.1rem !important;
	color: #999999;
}
.am-detail-pinglun-text small ::after {
	content: "";
	clear: both !important;
}
.am-detail-pinglun-text p {
	margin-bottom: 0rem;
}

.am-shop-area {
	visibility: hidden;
	position: absolute;
	left: 0;
	color: #FFFFFF;
}
#index_tab i {
	font-size: 3rem !important;
	line-height: 1 !important;
}
.toScroll {
	display: none;
	position: fixed;
	width: auto;
	height: 100%;
	top: 0px;
	right: 50px;
	z-index: 10000;
}
.toScroll ul {
	list-style: none;
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
}
.toScroll ul li {
	line-height: 110%;
}
.toScroll ul li:hover {
	cursor: pointer;
}
.am-menu-offcanvas1 .am-menu-nav > li > a:hover,
.am-menu-offcanvas1 .am-menu-nav > li > a:focus {
	background-color: #FFFFFF !important;
	color: #0E90D2 !important;
}
#xieyi .am-modal-hd .am-close {
	position: absolute;
	bottom: 0px !important;
	right: 0px !important;
	left: 0px !important;
	width: 100%;
	height: 24px;
	color: #ff0000;
	opacity: .8;
}
#xieyi .am-close-spin:hover {
	transform: none !important;
}
.am-header .am-header-right {
	display: none;
	right: 10px !important;
	height: 49px !important;
	line-height: 49px !important;
}
.am-header-right a {
	height: 49px !important;
	line-height: 49px !important;
}
.am-dropdown {
	display: inline;
}
.am-dropdown-content {
	height: 300px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	resize: vertical;
}
.consumer-tip {
	color: gray;
	font-size: 1.4rem;
	text-align: center;
	line-height: 30px;
}
.count-star {
	line-height: 14px !important;
}
.count-star i {
	display: none;
	color: #FFBE40;
	font-size: 1.4rem;
}
.star-number {
	visibility: hidden;
}
.am-list-price {
	position: absolute;
	float: right;
	right: -5px;
	top: 23px;
}
.am-list-price .am-text-warning {
	line-height: 100%;
}
.am-list-price .am-text-gray {
	font-size: 1.4rem !important;
	line-height: 100%;
}
.am-text-gray {
	color: darkgray;
}
.am-list-main .am-list-item-hd {
	line-height: 100% !important;
}
.am-list-main .am-list-item-hd a {
	margin: 0;
	padding: 0;
	line-height: 100%;
}
.carlist {
	display: block;
}
.am-navbar-label a {
	color: #000000;
}
.am-gotop-fixed {
	bottom: 60px;
}
.star1,
.star2,
.star3,
.star4,
.star5 {
	width: 30px;
}
.pingfen {
	height: 48px;
}
.pingfen .am-text-lg {
	height: 48px;
	line-height: 48px;
}
.todetail {
	position: absolute;
	bottom: 5px;
	right: 0px;
}
.todetail a,
.btn-pingjia a {
	color: #ffffff;
}
.am-comment-meta {
	display: flex;
}
.am-comment-author {
	flex: 1;
}
.edit-radio {
	padding: 20px 0 0 10px;
	margin: 0;
	display: none;
}
.del-favour-fixed {
	position: fixed;
	bottom: 50px;
	display: none;
}
.am-list-main button {
	position: absolute !important;
	bottom: -35px !important;
	left: 0;
	color: #FFFFFF;
}*/